.cardmaincont{
    position: absolute;
    left: 0;
    top: 1500px;    
    background-color: rgb(245, 245, 245);
    width: 83.5%;
    height: 600px;
    z-index: 10;
}
.CardCont{
    position: relative;
    height: 250px;
    left: 5%;
}
#ContH1{
    position: relative;
    width: 50%;
    top: 5%;
    left: 10%;
    color: black;
    margin: 0;
    font-size: 70px;
}
